$width_container: 1170px;
$adaptive_width_container: calc($width_container / 2);

$light-bg-color:#FFFFFF;
$light-main-colot-text: #262A3F;
$light-colot-text-accent: #6fa397;
$light-colot-line-menu: #F1897B;
$light-colot-hover-btn: #E54F3A;


$dark-bg-color: #161926;
$dark-main-colot-text:#ffff;
$dark-colot-text-accent:#6f85c7;
$dark-colot-line-menu: #53F3CD;
$dark-colot-hover-btn: #02E0AB;



